<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login with mongodb flask</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>

<body>

<div class="container">
    <div class="header">
        <nav>
            {% if error  %}
                <p style="color: red;">You need to login</li>
            {% endif %}
            {% if username %}
                <p role="presentation"> Logged in as {{ username }}</li>
            {% endif %}
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active">
                    <a href="#">Home</a>
                </li>
                <li role="presentation">
                    <a href="/auth">Sign In</a>
                </li>
                <li role="presentation">
                    <a href="/signup">Sign Up</a>
                </li>
            </ul>
        </nav>
        <h3 class="text-muted">Login with mongodb flask</h3>
    </div>


</div>
</body>

</html>