<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sigh up</title>

  <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
  <!-- <link href="../static/signup.css" rel="stylesheet"> -->

</head>

<body>

<div class="container">
  <div class="header">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" ><a href="/main">Home</a></li>
        <li role="presentation"><a href="/auth">Sign In</a></li>
        <li role="presentation" class="active"><a href="#">Sign Up</a></li>
      </ul>
    </nav>
    <h3 class="text-muted">Sign up</h3>
  </div>

  <div class="jumbotron">
    <h1>Signup</h1>
    {% if error %}
        <p style="color: red;">{{ message }}</p>
    {% else %}
        <p style="color: green;">{{ message }}</p>
    {% endif %}
    <form class="form-signup" action="/signup" method="post">
      <label for="inputName" class="sr-only">Username</label>
      <input type="name" name="username" id="inputName" class="form-control" placeholder="Username" required autofocus>
      <label for="inputEmail" class="sr-only">Password</label>
      <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" onclick = 'this.form.submit();' type="button">Sign up</button>
    </form>
  </div>

  <footer class="footer">
    <p>&copy; 2022</p>
  </footer>

</div>
</body>
</html>